{%extends 'parent.html'%}
{%block tit%}
Tasks _ List
{%endblock%}
{%block header%}
Tasks _ List
{%endblock%}
{%block content%}
    {{tasks}}
<h1>{{1 | add:2}}</h1>
    <table width="100%" border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Catagory as name in object</th>
            <th>Catagory as object</th>
            <th>Actions</th>
        </tr>
        {%for task in tasks%}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.catagoryid.name}}</td>
                <td>{{task.catagoryid}}</td>
                <td>
                    <a href="{%url 'taskDelete' task.id %}">Delete</a>
                    <a href="{%url 'taskupdate' task.id %}">update</a>
                </td>
            </tr>
        {%endfor%}
    </table>

{%endblock%}